body{
    font-family: 'Questrial', sans-serif;
    margin: 0px;
    padding: 0px;
}
#logo{
    margin-top: -40px;
    padding: 0px;
    width: 455px;
    height: 325px;
}
ul{
    display: horizontal;
    position: absolute;
    top: 85px;
}
ul li{
    font-size: 22px;
    display: inline-block;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5c0444 ;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    border-color: #CBB26A;
}
#li1{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: -15px;
}
#li2{
    border-top-right-radius: 0ex;
    border-bottom-right-radius: 0px;
    border-right-color: #5c0444;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: 207px;
}
#li3{
    border-top-left-radius: 0ex;
    border-bottom-left-radius: 0px;
    border-left-color: #5c0444;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 0px;
}
#li4{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 100px;
    padding-left: 100px;
}
ul li a {
    text-decoration-color: #5c0444 ;
    color: #CBB26A;
}
p{
    font-size: 25px;
}
span{
    font-size: 35px;
}
